{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Change category of multiple objects' %}
</div>
{% endblock %}

{% block content %}
    <p>{% blocktrans %}Please select category that you want all of the follow {{ objects_name }} to change:{% endblocktrans %}</p>
	<ul>
    {% for q in queryset %}
        <li>{{ q }}</li>
    {% endfor %}
	</ul>

    <form action="" method="post">{% csrf_token %}
    <div>
		<p>
			<label for="t_category">{% blocktrans %}Categories:{% endblocktrans %}</label>
			<select name="t_category" id="t_category">
			{% for category in clist %}
				<option value="{{ category.pk }}">{{ category.name }}</option>
			{% endfor %}
			</select>
		</p>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="change_category" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>
{% endblock %}
