{% extends "default/base.html" %}

{% load staticfiles %}
{% block title %}{{ c.name }}{% endblock %}
{% block statics %}
<link href="{% static "styles/main.css" %}" rel="stylesheet" type="text/css"/>
<script language="javascript1.1" type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
<script language="javascript1.1" type="text/javascript" src="{% static "js/floatPic.js" %}"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
		$(tab_conbox).find("ul").hide();
		$(tabtit).find("li:first").addClass("on").show(); 
		$(tab_conbox).find("ul:first").show();
	
		$(tabtit).find("li").bind(shijian,function(){
		  $(this).addClass("on").siblings("li").removeClass("on"); 
			var activeindex = $(tabtit).find("li").index(this);
			$(tab_conbox).children().eq(activeindex).show().siblings().hide();
			return false;
		});
	
	};
	/*调用方法如下：*/
	$.jqtab(".tabs",".tab_conbox","click");
	
	//$.jqtab("#tabs2","#tab_conbox2","mouseenter");
	
});
</script>
{% endblock %}

{% block content %}
<div class="header">
	<div class="width">
		<div class="banner">
			
		</div>
		<div class="nav width">
			<ul>
				<li><a class="on" href="/">首页</a></li>
				<li><a href="#">党委办/机关党委</a></li>
				<li><a href="#">基层组织建设</a></li>
				<li><a href="#">群团工作</a></li>
				<li><a href="#">创先争优</a></li>

			</ul>
		</div>
	</div>
</div>
<div class="foot_bg">
	<div class="width">
		<div class="main">
			<div class="wd mt2">
				<div class="left mainLeft">
					<div class="menu">
						<h3>党团工作</h3>
						<ul>
						
							<li><a href="#">党团工作1</a></li>
						
							<li><a href="#">党团工作2</a></li>
						
						</ul>
					</div>

				</div>
				<div class="mainRight">
					<div class="position">
						<em class="png spr_bg home"></em>
						您的位置：<a href="./">首页</a>&nbsp;&gt;&nbsp;<a href="#">党团工作</a>
					</div>
					<div class="contant layout1 index_list">
						<h3 class="title"><strong>党团工作</strong></h3>
						<ul class="con list1">
						  
							<li><span>2013-04-28</span><a href="#" target="_blank">市直机关工委牵头组织明察暗访推动作风转变</a></li>
							<li><span>2013-04-28</span><a href="#" target="_blank">市直机关工委举办学习讨论活动创新奖评选</a></li>
							<li><span>2013-04-28</span><a href="#" target="_blank">市直机关开展赈灾捐款活动</a></li>
							<li><span>2013-04-28</span><a href="#" target="_blank">市直机关工委代表团第六组市党代表畅谈改革创新</a></li>
							<li><span>2013-04-28</span><a href="#" target="_blank">市直机关纪工委组织系统纪检干部培训</a></li>
							<li><span>2012-10-31</span><a href="#" target="_blank">深化“讲重作”活动 努力打造过硬队伍</a></li>
							<li><span>2012-10-31</span><a href="#" target="_blank">加强作风建设 开创统战工作新局面</a></li>
							<li><span>2012-10-31</span><a href="#" target="_blank">市党代表团队进社区服务党员群众成效好</a></li>
							<li><span>2012-10-31</span><a href="#" target="_blank">以“三带”开展“组织部长下基层”活动</a></li>
							<li><span>2012-08-16</span><a href="#" target="_blank">市规划国土委团员青年积极参加市直机关青年志愿者进公共文化场馆活动</a></li>
							<li><span>2012-08-16</span><a href="#" target="_blank">书城“暑期档”，市场监管局“蓝马甲”来帮忙</a></li>
							<li><span>2012-08-07</span><a href="#" target="_blank">关于开展市直机关青年志愿者进公共文化场馆活动的通知</a></li>
							<li><span>2012-05-08</span><a href="#" target="_blank">深圳国税“五月花”团委网站正式上线</a></li>
							<li><span>2012-02-09</span><a href="#" target="_blank">市台办党总支“双到”联合创先争优活动扎实有效</a></li>
							<li><span>2012-02-09</span><a href="#" target="_blank">深圳海事局召开创先争优群众评议会</a></li>
							<li><span>2012-02-09</span><a href="#" target="_blank">市烟草专卖局（公司）举办行业纪检监察干部业务知识培训班</a></li>
							<li><span>2012-02-09</span><a href="#" target="_blank">中铁建工深圳分公司“大走访”为企业科学发展凝聚合力</a></li>
							<li><span>2012-01-12</span><a href="#" target="_blank">关于填报《群众评议创先争优活动情况统计表》的通知</a></li>
							<li><span>2011-11-04</span><a href="#" target="_blank">转发《关于窗口单位和服务行业党员佩戴党员徽章有关事宜的通知》的通知</a></li>
							<li><span>2011-10-24</span><a href="#" target="_blank">关于组织广大党员干部收看学习李林森同志先进事迹的通知</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="wd foot">
		<p>
		Copyright © 2003-2011 GZSTV.COM,All Rights Reserved.<br>
		版权所有：贵州广播电视台&nbsp;&nbsp;&nbsp;&nbsp;西石网络&nbsp;&nbsp;&nbsp;&nbsp;独家技术支持<br>
		贵州省通信管理局备案：黔ICP备07000443号&nbsp;&nbsp;&nbsp;&nbsp;信息网络传播视听节目许可证号：2410521
    </p>
		</div>
	</div>
</div>
{% endblock %}