{% extends "default/base.html" %}

{% load staticfiles %}
{% block title %}{{ c.name }}{% endblock %}
{% block statics %}
<link href="{% static "styles/main.css" %}" rel="stylesheet" type="text/css"/>
<script language="javascript1.1" type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
<script language="javascript1.1" type="text/javascript" src="{% static "js/floatPic.js" %}"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
		$(tab_conbox).find("ul").hide();
		$(tabtit).find("li:first").addClass("on").show(); 
		$(tab_conbox).find("ul:first").show();
	
		$(tabtit).find("li").bind(shijian,function(){
		  $(this).addClass("on").siblings("li").removeClass("on"); 
			var activeindex = $(tabtit).find("li").index(this);
			$(tab_conbox).children().eq(activeindex).show().siblings().hide();
			return false;
		});
	
	};
	/*调用方法如下：*/
	$.jqtab(".tabs",".tab_conbox","click");
	
	//$.jqtab("#tabs2","#tab_conbox2","mouseenter");
	
});
</script>
{% endblock %}

{% block content %}
{{ c.slug }}
{% endblock %}